module {{ .ProjectName }}

go {{ .GoVersion }}

{{ if .IsDev -}}
require github.com/andrioid/gastro v0.0.0

// For local development, uncomment and adjust the path:
// replace github.com/andrioid/gastro => ../gastro
{{ else -}}
require github.com/andrioid/gastro v{{ .GastroVersion }}
{{ end -}}
